/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: #ff4d05;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  cursor: crosshair;
}
/* Logo */
#logo {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  vertical-align: middle;
  overflow: hidden;
  background-color: #2e2f2e;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}

/* CANDLE  */


.cake {
  position: absolute;
  width: 250px;
  height: 180px;
  top: 360px; /* Adjusted the top margin */
  left: 50%;
  margin-top: 0;
  margin-left: -125px;
}

.plate {
  width: 270px;
  height: 110px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: #0e0e0e;
  border-radius: 50%;
  box-shadow:
    0 2px 0 rgba(204, 204, 204, 0.9),
    0 4px 0 rgba(204, 204, 204, 0.9),
    0 5px 40px rgba(0, 0, 0, 0.5);
}

.cake > * {
  position: absolute;
}

.layer {
  position: absolute;
  display: block;
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background-color: #0c0c0c;
}

.layer-top { top: 0; }
.layer-middle { top: 33px; }
.layer-bottom { top: 66px; }

.icing {
  top: 2px;
  left: 5px;
  background-color: #f0e4d0;
  width: 240px;
  height: 90px;
  border-radius: 50%;
}

.icing:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 5px;
  bottom: 6px;
  left: 5px;
  background-color: #f5e8d3;
  box-shadow:
    0 0 4px rgba(240, 228, 208, 0.5),
    0 0 4px rgba(240, 228, 208, 0.5),
    0 0 4px rgba(240, 228, 208, 0.5);
  border-radius: 50%;
  z-index: 1;
}

.drip {
  display: block;
  width: 50px;
  height: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f0e4d0;
}

.drip1 {
  top: 53px;
  left: 5px;
  transform: skewY(15deg);
  height: 48px;
  width: 40px;
}

.drip2 {
  top: 69px;
  left: 181px;
  transform: skewY(-15deg);
}

.drip3 {
  top: 54px;
  left: 90px;
  width: 80px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.candle {
  background-color: #7B020B;
  width: 16px;
  height: 50px;
  border-radius: 8px 4px;
  top: -20px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
}

.candle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 8px;
  border-radius: 50%;
  background-color: #8B0D15;
}

.flame {
  position: absolute;
  background-color: orange;
  width: 15px;
  height: 35px;
  border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
  top: -34px;
  left: 50%;
  margin-left: -7.5px;
  z-index: 10;
  box-shadow:
    0 0 10px rgba(255, 165, 0, 0.5),
    0 0 20px rgba(255, 165, 0, 0.5),
    0 0 60px rgba(255, 165, 0, 0.5),
    0 0 80px rgba(255, 165, 0, 0.5);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
  0% {
    transform: skewX(5deg);
    box-shadow: 
      0 0 10px rgba(255, 165, 0, 0.2),
      0 0 20px rgba(255, 165, 0, 0.2),
      0 0 60px rgba(255, 165, 0, 0.2),
      0 0 80px rgba(255, 165, 0, 0.2);
  }
  25% {
    transform: skewX(-5deg);
    box-shadow:
      0 0 10px rgba(255, 165, 0, 0.5),
      0 0 20px rgba(255, 165, 0, 0.5),
      0 0 60px rgba(255, 165, 0, 0.5),
      0 0 80px rgba(255, 165, 0, 0.5);
  }
  50% {
    transform: skewX(10deg);
    box-shadow:
      0 0 10px rgba(255, 165, 0, 0.3),
      0 0 20px rgba(255, 165, 0, 0.3),
      0 0 60px rgba(255, 165, 0, 0.3),
      0 0 80px rgba(255, 165, 0, 0.3);
  }
  75% {
    transform: skewX(-10deg);
    box-shadow:
      0 0 10px rgba(255, 165, 0, 0.4),
      0 0 20px rgba(255, 165, 0, 0.4),
      0 0 60px rgba(255, 165, 0, 0.4),
      0 0 80px rgba(255, 165, 0, 0.4);
  }
  100% {
    transform: skewX(5deg);
    box-shadow:
      0 0 10px rgba(255, 165, 0, 0.5),
      0 0 20px rgba(255, 165, 0, 0.5),
      0 0 60px rgba(255, 165, 0, 0.5),
      0 0 80px rgba(255, 165, 0, 0.5);
  }
}

/* candle end */
.canvas-container {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.birthday {
  color: var(--main-color);
  margin-top: 50px;
  font-size: 3em;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .birthday {
    font-size: 2em;
    text-align: center;
    margin-top: 20px; /* Adjust the top margin for better alignment */
  }
}

.birthday h1 {
  font-weight: 900;
  font-family: 'Pacifico', cursive;
  -webkit-user-select: none;
  user-select: none;
  background: linear-gradient(45deg, #ff4901, #ec9108, #f2c306, #4dff00, #00e1ff, #7300ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center;
  padding: 20px; /* Add some padding */
}

/* Media query for mobile responsiveness */

/* Flip Card */
.birthdayCard {
  position: relative;
  margin-left: 200px;
  width: 200px;
  margin-top: 30px;
  height:350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
}

.birthdayCard:hover {
  transform: perspective(2000px) rotate(2deg);
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg); 
}

.birthdayCard:hover .happy {
  visibility:hidden; 
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 250px;
  height:350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 30px 0 50px rgba(0,0,0,0.4);
  transition: .6s;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin:30px; 
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  transition: .1s;
}

.balloons {
  position: absolute;
}

.balloonOne, .balloonTwo, .balloonThree, .balloonFour {
  position: absolute;
  width: 85px;
  height:95px;
  border-radius:50%;
}

.balloonOne {
  background-color: rgb(239, 71, 111, 0.7);
  left:-10px;
  top:50px;
}

.balloonTwo {
  background-color: rgb(6, 214, 160, 0.7);
  left:50px;
  top:20px;
}

.balloonThree {
  background-color: rgb(255, 209, 102, 0.7);
  left:110px;
  top:50px;
}

.balloonFour {
  background-color: rgb(17, 138, 178, 0.7);
  left:170px;
  top:20px;
}

.balloonOne:before, .balloonTwo:before, .balloonThree:before, .balloonFour:before {
  content:"";
  position: absolute;
  width:1px;
  height: 155px;
  background-color: #ffd166;
  top:95px;
  left:43px;
}

.balloonOne:after, .balloonTwo:after, .balloonThree:after, .balloonFour:after {
  content:"";
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top:94px;
  left:37px;
}

.balloonOne:after {
  border-bottom: 10px solid #ef476f;
}

.balloonTwo:after {
  border-bottom: 10px solid #06d6a0;
}

.balloonThree:after {
  border-bottom: 10px solid #ffd166;
}

.balloonFour:after {
  border-bottom: 10px solid #118ab2;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height:350px;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

.nik {
  font-family: 'Brush Script MT', cursive;
  margin: 40px;
  color: #333;
  font-size: 20px;
}

.name {
  position: absolute;
  left:150px;
  top:200px;
  color: #333;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin:30px; 
  outline-color:#333;
  outline-style: dotted;
}




/* section */
section{
  padding: 160px 15% 120px;
}
.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn{
  display: inline-block;
  padding:12px 28px ;
  background: var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all .45s ease;
}
.btn:hover{
transform: scale(0.9);
cursor: pointer;
}
.btn2{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 35px;
}
.btn2 span i{
  height: 55px;
  width: 55px;
  background: var(--main-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  border-radius: 50%;
  margin-right: 15px;
  transition: all .45s ease;
}
.btn2 span i:hover{
  transform:scale(1.1) translateY(5px);
}
.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img{
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 20px;
}
.about-text h2{
 font-size: var(--h2-font); 
 line-height: 1;
}
.about-text h4{
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7; 
  margin: 15px 0 30px;
}
.about-text p{
color: var(--second-color);
font-size: var(--p-font);
line-height:1.8 ;
margin-bottom: 4rem;
}
.services{
  background: var(--second-bg-color);
}
.main-text{
  text-align: center;
}
.main-text p{
  color: var(--second-color);
  font-size: 15px;
  margin-bottom: 15px;
}
.main-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}
.services-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.box {
  background: var(--bg-color);
  padding: 35px 45px;
  border-radius: 8px;
  transition: all .45s ease;
  width: 100%; /* Set the width to 100% */
  height: 100%; /* Set the height to 100% */
  display: flex; /* Add display flex */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center the content vertically */
  
}

.s-icons i{
font-size: 32px;
margin-bottom: 20px;
}
.box h3{
 font-size:18px ;
 font-weight: 1000;
 color: var(--text-color);
 margin-bottom: 15px; 
}
.box p{
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}
.read{
  display: inline-block;
  width: 150px;
  padding: 8px 18px;
  background: #333333;
  color: var(--second-color);
  font-size: 14px;
  font-weight: 500;
  border-radius:8px;
  transition: all .45s ease;
}
.read:hover{
 letter-spacing: 1px;
 background: #ffffff99;
 color: var(--text-color);

}
.box:hover{
 transform:translateY(-8px);
 cursor: pointer; 
}

.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;

}
.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.row img{
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background:linear-gradient(rgba(0,0,0,0.1), #ff004f) ;
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p{
color: var(--seconnd-color);
font-size: 1rem;
line-height: 1.8;
}
.layer i{
  color: var(--main-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.row:hover img
{
  transform: scale(1.1);
}
.row:hover .layer{
  
  height: 100%;
}

.contact{
  background: var(--second-bg-color);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap:2.5rem ;
}

.contact-text h4{
  color: var(--text-color);
  margin:18px 0;
  font-size: 20px;
  font-weight: 600px;
}
.contact-text h2{
  font-size: var(--h2-font);
  line-height: 1;
}
.contact-text p{
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}
.list{
  margin-bottom: 2.8rem;
}
.list li{
  margin-bottom: 12px;
  list-style: none;
}
.list li a{
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all .45s ease;
}
.list li a:hover{
 color: var(--text-color);
 transform: translateX(5px);
}
.contact-icons i{
 height: 45px;
 width: 45px;
 background: var(--main-color);
 color: var(--text-color);
 font-size: 22px;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 border-radius: 8px;
 margin-right: 15px;
 transition: all .45s ease;

}
.contact-icons i:hover{
  background: var(--text-color);
  color: var(--main-color);
}
.contact-form form{
  position: relative;
}
.contact-form form input, form textarea{
width: 100%;
padding: 14px;
background:var(--bg-color);
color: var(--text-color);
border: none;
outline: none;
font-size: 15px;
border-radius: 8px;
margin-bottom:10px ;

}
.contact-form textarea{
 resize: none; 
 height: 240px;
}
.contact-form .submit{
  display: inline-block;
  font-size: 16px;
  background: var(--main-color);
  color: var(--text-color);
  width: 160px;
  transition: all .45s ease;
}
.contact-form .submit:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.end{
 padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: var(--bg-color);

}
.last-text{
  color: var(--second-color);
  font-size: 14px;

}
.top{
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--text-color);
  background: var(--main-color);
}
@media (max-width:1480px){
  header{
      padding:12px 2.5% ;
      transition: .1s;
  }
  header .sticky{
      padding:10px 2.5%;
      transition: .1s;
  }
  section{
      padding: 110px 3% 60px;

  }
  .end{
      padding: 15px 3%;
  }
}
@media (max-width:1100px){
:root{
  --big-font:4rem;
  --h2-font:2.5rem;
  --p-font:1rem;
  transition: .1s;
}
.home-text h3{
  font-size: 2.5rem;
}
.home{
  height: 87vh;
}
}
@media (max-width: 920px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    transition: 0.1s;
  }
  .home-text h3 {
    font-size: 2.5rem;
  }
  .home {
    height: 87vh;
  }
  .about {
    grid-template-columns: 1fr; /* Set it to one column for smaller screens */
  }
  .about-img {
    text-align: center;
    order: 2;
  }
  .about-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width:840px){
#menu-icon{
  display: block;

}
}


.content {
  position: relative;
  height: 500px;
  width: 500px;
  margin: auto;
  animation: content-shift 15s infinite;
}
::-webkit-scrollbar{
  display: none;
}

@keyframes content-shift {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


.page {
  height: 100%;
  width: 100%;
  background-color: #7e5d38;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 37px 0px rgba(0,0,0,0.7);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.text {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  left: 0;
  top: 0;
  margin: 32px;
}

p {
  line-height: 24px;
}

.burn {
  position: absolute;
  height: 0px;
  width: 0px;
  background-color: rgb(30,30,30);
  border-radius: 50%;
  top: 50%;
  right: 50%;
  animation: 15s burn-grow linear infinite;
  border: 3px solid rgb(49, 22, 1);
  -webkit-box-shadow: inset 0px 0px 6px 2px #fffb5c00, inset 0px 0px 8px 3px rgb(52, 21, 0), 0px 0px 6px 2px #3f1c0100, 0px 0px 15px 10px rgba(105, 46, 0, 0), 0px 0px 17px 18px #401d02eb, inset 0px 0px 29px 22px #c4720f00;
  -moz-box-shadow: inset 0px 0px 6px 2px #fffb5c00, inset 0px 0px 8px 3px rgb(52, 21, 0), 0px 0px 6px 2px #3f1c0100, 0px 0px 15px 10px rgba(105, 46, 0, 0), 0px 0px 17px 18px #401d02eb, inset 0px 0px 29px 22px #c4720f00;
  box-shadow: inset 0px 0px 6px 2px #fffb5c00, inset 0px 0px 8px 3px rgb(52, 21, 0), 0px 0px 6px 2px #3f1c0100, 0px 0px 15px 10px rgba(105, 46, 0, 0), 0px 0px 17px 18px #401d02eb, inset 0px 0px 29px 22px #c4720f00;
}

@keyframes burn-grow {
  0% {
    opacity: 1;
    height: 0px;
    width: 0px;
    top: 50%;
    right: 50%;
    border: 3px solid #FFFB5C;
    -webkit-box-shadow: inset 0px 0px 6px 2px #FFFB5C, inset 0px 0px 5px 6px rgba(243, 108, 0,0.5), 0px 0px 6px 2px #FFFB5C, 0px 0px 15px 10px rgba(241, 124, 4, 0.6), 0px 0px 8px 11px #1c0901eb, inset 0px 0px 29px 22px #c4720f42;
    -moz-box-shadow: inset 0px 0px 6px 2px #FFFB5C, inset 0px 0px 5px 6px rgba(243, 108, 0,0.5), 0px 0px 6px 2px #FFFB5C, 0px 0px 15px 10px rgba(241, 124, 4, 0.6), 0px 0px 8px 11px #1c0901eb, inset 0px 0px 29px 22px #c4720f42;
    box-shadow: inset 0px 0px 6px 2px #FFFB5C, inset 0px 0px 5px 6px rgba(243, 108, 0,0.5), 0px 0px 6px 2px #FFFB5C, 0px 0px 15px 10px rgba(241, 124, 4, 0.6), 0px 0px 8px 11px #1c0901eb, inset 0px 0px 29px 22px #c4720f42;

  }
  60% {
    height: 350px;
    width: 350px;
    top: calc(50% - 175px);
    right: calc(50% - 175px);
    border: 3px solid #FFFB5C;
    -webkit-box-shadow: inset 0px 0px 6px 2px #FFFB5C, inset 0px 0px 5px 6px rgba(243, 108, 0,0.5), 0px 0px 6px 2px #FFFB5C, 0px 0px 15px 10px rgba(241, 124, 4, 0.6), 0px 0px 8px 11px #1c0901eb, inset 0px 0px 29px 22px #c4720f42;
    -moz-box-shadow: inset 0px 0px 6px 2px #FFFB5C, inset 0px 0px 5px 6px rgba(243, 108, 0,0.5), 0px 0px 6px 2px #FFFB5C, 0px 0px 15px 10px rgba(241, 124, 4, 0.6), 0px 0px 8px 11px #1c0901eb, inset 0px 0px 29px 22px #c4720f42;
    box-shadow: inset 0px 0px 6px 2px #FFFB5C, inset 0px 0px 5px 6px rgba(243, 108, 0,0.5), 0px 0px 6px 2px #FFFB5C, 0px 0px 15px 10px rgba(241, 124, 4, 0.6), 0px 0px 8px 11px #1c0901eb, inset 0px 0px 29px 22px #c4720f42;

  }
  66% {
    opacity: 1;
    border: 3px solid rgb(49, 22, 1);
    -webkit-box-shadow: inset 0px 0px 6px 2px #fffb5c00, inset 0px 0px 8px 3px rgb(52, 21, 0), 0px 0px 6px 2px #3f1c0100, 0px 0px 15px 10px rgba(105, 46, 0, 0), 0px 0px 17px 18px #401d02eb, inset 0px 0px 29px 22px #c4720f00;
    -moz-box-shadow: inset 0px 0px 6px 2px #fffb5c00, inset 0px 0px 8px 3px rgb(52, 21, 0), 0px 0px 6px 2px #3f1c0100, 0px 0px 15px 10px rgba(105, 46, 0, 0), 0px 0px 17px 18px #401d02eb, inset 0px 0px 29px 22px #c4720f00;
    box-shadow: inset 0px 0px 6px 2px #fffb5c00, inset 0px 0px 8px 3px rgb(52, 21, 0), 0px 0px 6px 2px #3f1c0100, 0px 0px 15px 10px rgba(105, 46, 0, 0), 0px 0px 17px 18px #401d02eb, inset 0px 0px 29px 22px #c4720f00;
  }
  75% {
    opacity: 1;
    height: 350px;
    width: 350px;
    top: calc(50% - 175px);
    right: calc(50% - 175px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.burn .flame {
  background-color: #fffc98;
  position: absolute;
  -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
  -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
  box-shadow: 0px 0px 0px 0px #FFFB5C;
}

.burn .flame:nth-of-type(1) {
  border-radius: 50% 0;
  animation: 15s flame-1 linear infinite;
  transform-origin: bottom left;
  opacity: 0;
}

@keyframes flame-1 {
  0% {
    opacity: 1;
    height: 0px;
    width: 0px;
    left: 8%;
    bottom: 76%;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    background-color: #fffc98;
  }
  2% {
    transform: rotate(-15deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  9% {
    transform: rotate(-15deg);
  }
  11% {

    transform: rotate(-45deg);
  }
  15% {
    height: 20px;
    width: 20px;
    transform: rotate(-15deg);
  }
  18% {
    transform: rotate(-45deg);
  }
  21% {
    transform: rotate(-15deg);
  }
  24% {
    transform: rotate(-45deg);
  }
  28% {
    height: 5px;
    width: 5px;
    transform: rotate(-15deg);
  }
  31% {
    transform: rotate(-45deg);
  }
  34% {
    transform: rotate(-15deg);
  }
  38% {
    transform: rotate(-45deg);
  }
  41% {
    transform: rotate(-20deg);
  }
  46% {
    height: 20px;
    width: 20px;
    left: 5%;
    bottom: 76%;
    -webkit-box-shadow: 0px 0px 5px 4px #FFFB5C;
    -moz-box-shadow: 0px 0px 5px 4px #FFFB5C;
    box-shadow: 0px 0px 5px 4px #FFFB5C;
    transform: rotate(-40deg);
    opacity: 1;
  }
  48% {
    transform: rotate(-20deg);
  }
  56% {
    transform: rotate(-40deg);
    height: 0px;
    width: 0px;
    left: 7%;
    bottom: 76%;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
  }
}


.burn .flame:nth-of-type(2) {
  border-radius: 50% 0;
  animation: 15s flame-2 linear infinite;
  transform-origin: bottom left;
  opacity: 0;
}

@keyframes flame-2 {
  0% {
    height: 0px;
    width: 0px;
    left: 31%;
    transform: rotate(-17deg);
    top: 2%;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    opacity: 1;
  }
  3% {
    transform: rotate(-2deg);
  }
  6% {
    height: 0px;
    width: 0px;
    top: 2%;
    transform: rotate(-32deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  13% {
    transform: rotate(-32deg);
  }
  16% {
    height: 20px;
    width: 20px;
    top: -13%;
    transform: rotate(-2deg);
  }
  20% {
    transform: rotate(-32deg);
  }
  23% {
    transform: rotate(-2deg);
  }
  26% {
    transform: rotate(-32deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  33% {
    transform: rotate(-32deg);
  }
  36% {
    transform: rotate(-2deg);
  }
  31% {

    transform: rotate(-32deg);
  }
  43% {
    transform: rotate(-7deg);
  }
  46% {
    height: 0px;
    width: 0px;
    left: 31%;
    top: 3%;
    -webkit-box-shadow: 0px 0px 5px 4px #FFFB5C;
    -moz-box-shadow: 0px 0px 5px 4px #FFFB5C;
    box-shadow: 0px 0px 5px 4px #FFFB5C;
    transform: rotate(-27deg);
    opacity: 1;
  }
  50% {
    transform: rotate(-7deg);
  }
  56% {
    transform: rotate(-27deg);
    height: 0px;
    width: 0px;
    left: 31%;
    top: 3%;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
  }
}

.burn .flame:nth-of-type(3) {
  border-radius: 50% 0;
  animation: 15s flame-3 linear infinite;
  transform-origin: bottom left;
  opacity: 0;
}

@keyframes flame-3 {
  0% {
    height: 0px;
    width: 0px;
    left: 40%;
    transform: rotate(-15deg);
    top: -6%;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    opacity: 1;
  }
  3% {
    transform: rotate(15deg);
  }
  7% {
    transform: rotate(-15deg);
  }
  10% {

    transform: rotate(15deg);
  }
  13% {
    transform: rotate(-15deg);
  }
  17% {
    height: 0px;
    width: 0px;
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  23% {
    height: 20px;
    width: 20px;
    top: -10%;
    transform: rotate(15deg);
  }
  26% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  33% {
    transform: rotate(-15deg);
  }
  36% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  43% {
    transform: rotate(10deg);
  }
  46% {
    left: 40%;
    top: -2%;
    -webkit-box-shadow: 0px 0px 5px 4px #FFFB5C;
    -moz-box-shadow: 0px 0px 5px 4px #FFFB5C;
    box-shadow: 0px 0px 5px 4px #FFFB5C;
    transform: rotate(-10deg);
    opacity: 1;
  }
  50% {
    transform: rotate(10deg);
  }
  56% {
    transform: rotate(-10deg);
    height: 0px;
    width: 0px;
    left: 40%;
    top: -2%;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
  }
}

.burn .flame:nth-of-type(4) {
  border-radius: 0 50%;
  animation: 15s flame-4 linear infinite;
  transform-origin: bottom right;
  opacity: 0;
}

@keyframes flame-4 {
  0% {
    height: 0px;
    width: 0px;
    right: 20%;
    transform: rotate(0deg);
    top: 5%;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    opacity: 1;
  }
  3% {
    transform: rotate(40deg);
  }
  7% {

    transform: rotate(0deg);
  }
  10% {
    transform: rotate(40deg);
  }
  13% {
    transform: rotate(0deg);
  }
  17% {
    height: 0px;
    width: 0px;
    transform: rotate(40deg);
  }
  20% {
    transform: rotate(0deg);
  }
  23% {
    transform: rotate(40deg);
  }
  26% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(40deg);
  }
  33% {
    transform: rotate(0deg);
  }
  36% {
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(0deg);
  }
  43% {
    transform: rotate(30deg);
  }
  46% {
    height: 20px;
    width: 20px;
    right: 20%;
    top: 5%;
    -webkit-box-shadow: 0px 0px 5px 4px #FFFB5C;
    -moz-box-shadow: 0px 0px 5px 4px #FFFB5C;
    box-shadow: 0px 0px 5px 4px #FFFB5C;
    transform: rotate(10deg);
    opacity: 1;
  }
  50% {
    transform: rotate(20deg);
  }
  56% {
    transform: rotate(10deg);
    height: 0px;
    width: 0px;
    right: 20%;
    top: 7%;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
  }
}

.burn .flame:nth-of-type(5) {
  border-radius: 0 50%;
  animation: 15s flame-5 linear infinite;
  transform-origin: bottom right;
  opacity: 0;
}

@keyframes flame-5 {
  0% {
    height: 0px;
    width: 0px;
    left: 98%;
    transform: rotate(15deg);
    top: 38%;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    opacity: 1;
  }
  3% {
    transform: rotate(-15deg);
  }
  7% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(-15deg);
  }
  13% {
    transform: rotate(15deg);
  }
  17% {
    height: 0px;
    width: 0px;
    left: 98%;
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
  }
  23% {
    transform: rotate(-15deg);
  }
  26% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  33% {
    height: 20px;
    width: 20px;
    left: 90%;
    transform: rotate(15deg);
  }
  36% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(15deg);
  }
  43% {
    transform: rotate(10deg);
  }
  46% {
    top: 38%;
    height: 20px;
    width: 20px;
    -webkit-box-shadow: 0px 0px 5px 4px #FFFB5C;
    -moz-box-shadow: 0px 0px 5px 4px #FFFB5C;
    box-shadow: 0px 0px 5px 4px #FFFB5C;
    transform: rotate(-10deg);
    opacity: 1;
  }
  50% {
    transform: rotate(10deg);
  }
  56% {
    transform: rotate(-10deg);
    height: 0px;
    width: 0px;
    left: 98%;
    top: 38%;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
  }
}

.burn .flame:nth-of-type(6) {
  border-radius: 0 50%;
  animation: 15s flame-6 linear infinite;
  transform-origin: bottom right;
  opacity: 0;
}

@keyframes flame-6 {
  0% {
    height: 0px;
    width: 0px;
    left: 96%;
    transform: rotate(45deg);
    top: 35%;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    opacity: 1;
  }
  2% {
    transform: rotate(75deg);
  }
  5% {
    transform: rotate(45deg);
  }
  8% {
    transform: rotate(75deg);
  }
  11% {
    transform: rotate(45deg);
  }
  15% {
    height: 0px;
    width: 0px;
    left: 96%;
    transform: rotate(75deg);
  }
  18% {
    transform: rotate(45deg);
  }
  21% {
    transform: rotate(75deg);
  }
  24% {
    transform: rotate(45deg);
  }
  28% {
    transform: rotate(75deg);
  }
  31% {
    height: 20px;
    width: 20px;
    left: 90%;
    transform: rotate(45deg);
  }
  34% {
    transform: rotate(75deg);
  }
  38% {
    transform: rotate(45deg);
  }
  41% {
    transform: rotate(70deg);
  }
  44% {
    height: 20px;
    width: 20px;
    left: 90%;
    top: 35%;
    -webkit-box-shadow: 0px 0px 5px 4px #FFFB5C;
    -moz-box-shadow: 0px 0px 5px 4px #FFFB5C;
    box-shadow: 0px 0px 5px 4px #FFFB5C;
    transform: rotate(50deg);
    opacity: 1;

  }
  48% {
    transform: rotate(70deg);
  }
  56% {
    transform: rotate(50deg);
    height: 0px;
    width: 0px;
    left: 100%;
    top: 38%;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
  }
}

.burn .flame:nth-of-type(7) {
  border-radius: 0 50%;
  animation: 15s flame-7 linear infinite;
  transform-origin: bottom right;
  opacity: 0;
}

@keyframes flame-7 {
  0% {
    height: 0px;
    width: 0px;
    left: 63%;
    transform: rotate(70deg);
    top: 91%;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    opacity: 1;
  }
  3% {
    transform: rotate(40deg);
  }
  7% {
    transform: rotate(70deg);
  }
  10% {
    transform: rotate(40deg);
  }
  13% {
    transform: rotate(70deg);
  }
  17% {
    transform: rotate(40deg);
  }
  20% {
    transform: rotate(70deg);
  }
  23% {
    transform: rotate(40deg);
  }
  26% {
    height: 20px;
    width: 20px;
    left: 60%;
    top: 84%;
    transform: rotate(70deg);
  }
  30% {
    transform: rotate(40deg);
  }
  33% {
    transform: rotate(70deg);
  }
  36% {
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(70deg);
  }
  43% {
    transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 5px 4px #FFFB5C;
    -moz-box-shadow: 0px 0px 5px 4px #FFFB5C;
    box-shadow: 0px 0px 5px 4px #FFFB5C;
    opacity: 1;
  }
  46% {
    height: 0px;
    width: 0px;
    left: 80%;
    top: 93%;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    transform: rotate(65deg);
    opacity: 0;
  }
}

.burn .flame:nth-of-type(8) {
  border-radius: 0 50%;
  animation: 15s flame-8 linear infinite;
  transform-origin: bottom right;
  opacity: 0;
}

@keyframes flame-8 {
  0% {
    height: 0px;
    width: 0px;
    left: 69%;
    transform: rotate(80deg);
    top: 80%;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    opacity: 1;
  }
  3% {
    transform: rotate(50deg);
  }
  7% {
    transform: rotate(80deg);
  }
  10% {
    transform: rotate(50deg);
  }
  13% {
    transform: rotate(80deg);
  }
  17% {
    transform: rotate(50deg);
  }
  20% {
    transform: rotate(80deg);
  }
  23% {
    transform: rotate(50deg);
  }
  26% {
    transform: rotate(80deg);
  }
  30% {
    transform: rotate(50deg);
  }
  33% {
    height: 30px;
    width: 30px;
    left: 66%;
    top: 74%;
    transform: rotate(80deg);
  }
  36% {
    transform: rotate(50deg);
  }
  40% {
    transform: rotate(80deg);
  }
  43% {
    transform: rotate(55deg);
  }
  46% {
    height: 0px;
    width: 0px;
    left: 79%;
    top: 92%;
    -webkit-box-shadow: 0px 0px 5px 4px #FFFB5C;
    -moz-box-shadow: 0px 0px 5px 4px #FFFB5C;
    box-shadow: 0px 0px 5px 4px #FFFB5C;
    transform: rotate(75deg);
    opacity: 1;
  }
  50% {
    transform: rotate(55deg);
  }
  56% {
    transform: rotate(75deg);
    height: 0px;
    width: 0px;
    left: 79%;
    top: 90%;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    opacity: 0;
  }
}

.burn .flame:nth-of-type(9) {
  border-radius: 0 50%;
  transform: rotate(65deg);
  animation: 15s flame-9 linear infinite;
  transform-origin: bottom right;
  opacity: 0;
}

@keyframes flame-9 {
  0% {
    height: 0px;
    width: 0px;
    left: 23%;
    top: 85%;
    transform: rotate(70deg);
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    opacity: 1;
  }
  5% {
    transform: rotate(40deg);
  }
  8% {
    transform: rotate(70deg);
  }
  11% {
    transform: rotate(40deg);
  }
  15% {
    transform: rotate(70deg);
  }
  18% {
    transform: rotate(40deg);
  }
  22% {
    height: 20px;
    width: 20px;
    left: 23%;
    top: 85%;
    transform: rotate(70deg);
  }
  24% {
    transform: rotate(40deg);
  }
  28% {
    transform: rotate(70deg);
  }
  31% {
    transform: rotate(40deg);
  }
  35% {
    transform: rotate(70deg);
  }
  38% {
    transform: rotate(40deg);
  }
  42% {
    transform: rotate(70deg);
  }
  44% {
    transform: rotate(45deg);
  }
  48% {
    height: 20px;
    width: 20px;
    left: 23%;
    top: 87%;
    -webkit-box-shadow: 0px 0px 5px 4px #FFFB5C;
    -moz-box-shadow: 0px 0px 5px 4px #FFFB5C;
    box-shadow: 0px 0px 5px 4px #FFFB5C;
    transform: rotate(65deg);
    opacity: 1;
  }
  51% {
    transform: rotate(45deg);
  }
  56% {
    transform: rotate(65deg);
    height: 0px;
    width: 0px;
    left: 29%;
    top: 97%;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
  }
}

.burn .flame:nth-of-type(10) {
  border-radius: 0 50%;
  animation: 15s flame-10 linear infinite;
  transform-origin: bottom right;
  opacity: 0;
}

@keyframes flame-10 {
  0% {
    height: 0px;
    width: 0px;
    top: 57%;
    left: 0%;    
    transform: rotate(-10deg);
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
    opacity: 1;
  }
  3% {
    transform: rotate(10deg);
  }
  7% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(10deg);
  }
  13% {
    transform: rotate(-10deg);
  }
  17% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  23% {
    height: 15px;
    width: 15px;
    top: 57%;
    left: -7%;  
    transform: rotate(10deg);
  }
  26% {
    transform: rotate(-10deg);
  } 
  30% {
    transform: rotate(10deg);
  }
  33% {
    transform: rotate(-10deg);
  }
  36% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  43% {
    transform: rotate(10deg);
  }
  46% {
    height: 10px;
    width: 10px;
    top: 57%;
    left: -7%;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 5px 4px #FFFB5C;
    -moz-box-shadow: 0px 0px 5px 4px #FFFB5C;
    box-shadow: 0px 0px 5px 4px #FFFB5C;
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  56% {
    transform: rotate(-10deg);
    height: 0px;
    width: 0px;
    top: 57%;
    left: 0%;  
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFB5C;
    -moz-box-shadow: 0px 0px 0px 0px #FFFB5C;
    box-shadow: 0px 0px 0px 0px #FFFB5C;
  }
}

.highlight {
  position: absolute;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  top: calc(50% - 175px);
  right: calc(50% - 175px);
  box-shadow: 0px 0px 71px 101px transparent;
  animation: 15s grow-highlight linear infinite;
}

@keyframes grow-highlight {
  0% {
    height: 0px;
    width: 0px;
    top: 50%;
    right: 50%;
    box-shadow: 0px 0px 71px 101px #dcaa71;
  }
  53% {
    box-shadow: 0px 0px 71px 101px #dcaa71;
  }
  66% {
    height: 350px;
    width: 350px;
    top: calc(50% - 175px);
    right: calc(50% - 175px);
    box-shadow: 0px 0px 71px 101px transparent;
  }
}








